* {
    margin: 0;
    padding: 0;
}

.header_page {
    background-color: rgba(0, 19, 31, 0.929);
    height: 10vh;
    overflow: hidden;
}

.header_nav {
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin: 0 1em;
    animation: header_move 1.8s ease;
}

.p_name {
    font-size: 1.2rem;
    margin: 2vh 1vw;
    color: rgb(255, 255, 255);
}

.header_image {
    width: 1em;
    height: 6vh;
    margin: 1.8vh 1vw;
}

@keyframes header_move {
    from{
        transform: translateY(-120px);
    }
    to{transform: translateY(0px); }
}